{% extends 'base.html' %}

{% block content %}
<div class="container-background">
    <main>
        <section class="vet-consultations">
            <div class="vet-consultations__title container">
                <h1>{{post.title}}</h1>
<!--                <p>Order our services now! <a href="#">+ 1 (234) 567 89 00</a></p>-->
            </div>
        </section>
        <section class="consultations">
            <div class="consultations__description container">
                <div class="consultations__description-right-item">
                    {% if post.photo %}
                    <p><img src="{{ post.photo.url }}"></p>
                    {% else %}
                    <p><img src="{{ default_service }}" class="services-carousel__img"></p>
                    {% endif %}
                </div>
                <div class="consultations__description-left-item">
                    <h2>{{post.title}}</h2>
                    <h3>Read about:</h3>
                    <p>{{post.description}}</p>
                </div>
            </div>
            <div class="consultations__text container">
                <p>{{ post.content|linebreaksbr }}</p>
            </div>
        </section>
    </main>

    <div class="contacts-help-section__form-container ">
        <div class="contacts-help-section__wrapper">
            <form class="contacts-form" action="#" method="post" enctype="multipart/form-data">
                <div class="responses__form-title">
                    <h3>Please, leave comment using the following form</h3>
                </div>
                <div class="contacts-form__field">
                    <div class="contacts-form__field">
                        {{ form.as_p }}
                        {% csrf_token %}
                    </div>
                </div>
                <div class="contacts-form__field">
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <button class="contacts-form__button" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/services.single-service.js"></script>
{% endblock %}