{% extends 'base.html' %}
{% load vet_clinic_tags %}

{% block content %}
<div class="containerarticles_container">
    <div class="Articles">Our Latest Articles</div>
    <div class="Articles_info">Read more about pet care in our blog.</div>
    {% category_blog_tag %}
    <div class="blockarticles_cards">
        {% for post in posts %}
        <div class="BlockArticles_cards_card">
            {% if post.photo %}
            <div class="card_img"><img src="{{ post.photo.url }}" alt="dog"></div>
            {% else %}
            <img src="{{ default_service }}" class="services-carousel__img" width="360"/>
            {% endif %}
            <div class="cards_card_h6"> {{post.category}} | {{post.publish_date}}</div>
            <div class="cards_card_h1">{{ post.title }}</div>
            <div class="cards_text">{{ post.description }}</div>
            <a class="cards_button_border" href="https://koldovsky.github.io/1109-team-04/"><span class="cards_button">Read More</span></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}