{% extends 'base.html' %}

{% block content %}
<div class="container-background">
    <main>
        <section class="vet-consultations">
            <div class="vet-consultations__title container">
                <h1>{{post.title}}</h1>
                <!--                <p>Order our services now! <a href="#">+ 1 (234) 567 89 00</a></p>-->
            </div>
        </section>
        <section class="consultations">
            <div class="consultations__description container">
                <div class="consultations__description-right-item">
                    {% if post.photo %}
                    <p><img src="{{ post.photo.url }}"></p>
                    {% else %}
                    <p><img src="{{ default_service }}" class="services-carousel__img"></p>
                    {% endif %}
                </div>
                {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                <div class="consultations__description-left-item">
                    <h2>{{post.title}}</h2>
                    <h3>Read about:</h3>
                    <p>{{post.description}}</p>
                    <span class="count">
                        <span class="total">{{ total_likes }}</span>
                        like{{ total_likes|pluralize }}
                    </span>
                    {% if user.is_authenticated %}
                    <a href="#" data-id="{{ post.id }}"
                       data-action="{% if request.user in users_like %}un{% endif %}like"
                       class="like button">
                        {% if request.user not in users_like %}
                        Like
                        {% else %}
                        Unlike
                        {% endif %}
                    </a>
                    {% endif %}
                </div>
                {% endwith %}
            </div>
            <div class="consultations__text container">
                <p>{{ post.content|linebreaksbr }}</p>
            </div>

            <div class="contacts-help-section__form-container ">
                <div class="contacts-help-section__wrapper">
                    {% if user.is_authenticated %}
                    <form class="contacts-form" action="#" method="post" enctype="multipart/form-data">
                        <div class="responses__form-title">
                            <h3>Please, leave comment using the following form</h3>
                        </div>
                        <div class="contacts-form__field">
                            <div class="contacts-form__field">
                                {{ form.as_p }}
                                {% csrf_token %}
                            </div>
                        </div>
                        <div class="contacts-form__field">
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <button class="contacts-form__button" type="submit">Send</button>
                        </div>
                    </form>
                    {% else %}
                    <div class="responses__form-title">
                        <h3>Please, login to leave a comment</h3>
                    </div>
                    {% endif %}
                </div>
            </div>


            {% for comment in comments %}
            <div class="card mb-3 container">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.name }}</h5>
                    <p class="card-text">{{ comment.comm_content }}</p>
                    <p class="card-text"><small class="text-muted">{{ comment.created }}</small></p>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
</div>
{% endblock %}

{% block domready %}
const url = '{% url "vet_clinic:post_like" %}';
var options = {
method: 'POST',
headers: {'X-CSRFToken': csrftoken},
mode: 'same-origin'
}

document.querySelector('a.like')
.addEventListener('click', function(e){
e.preventDefault();
var likeButton = this;

// add request body
var formData = new FormData();
formData.append('id', likeButton.dataset.id);
formData.append('action', likeButton.dataset.action);
options['body'] = formData;

// send HTTP request
fetch(url, options)
.then(response => response.json())
.then(data => {
if (data['status'] === 'ok')
{
var previousAction = likeButton.dataset.action;

// toggle button text and data-action
var action = previousAction === 'like' ? 'unlike' : 'like';
likeButton.dataset.action = action;
likeButton.innerHTML = action;

// update like count
var likeCount = document.querySelector('span.count .total');
var totalLikes = parseInt(likeCount.innerHTML);
likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
}
})
});
{% endblock %}