{% extends "base.html" %}

{% block content %}
<div class="vet-consultations__title container">
    <h1>Orders</h1>
</div>

{% if perms.order.view_order %}
{% for order in orders %}
<div class="card container mb-3">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body my-2">
        <h3 class="card-title">service: {{ order.service }}</h3>
        <p class="card-text">nickname: {{ order.name }}</p>
        <p class="card-text">First and last name: {{ order.name.first_name }} {{ order.name.last_name }}</p>
        <p class="card-text">Phone Number: {{ order.phone_number }}</p>
        <p class="card-text">About Pet: {{ order.pet_info }}</p>
        <p class="card-text">Order date: {{ order.order_date }}</p>
        <p class="card-text">Client date for visiting: {{ order.date_for_visit }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}