{% extends 'base.html' %}

{% block content %}
<section class="responses container" id="responses-happy-client">
    <div class="responses__block-items">
        <div class="responses__cap">
            <h2 class="responses__title">Our Clients About Us</h2>
            <span class="responses__message">If pets could talk, here's they'd tell about us (according to their owners).</span>
        </div>
        <div class="responses__all-feedbacks">
            {% for response in responses_list %}
            <div class="responses__item">
                <!--                <div class="responses__img-animal">-->
                <!--                    <img src="./img/parrot-jokie.png" alt='Satified parrot Jokie'>-->
                <!--                </div>-->
                <h3 class="responses__subtitle">{{ response.name }}</h3>
                <div class="responses__underline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3000px" height="33" style="width:15%">
                        <path d="M0 16.5 L3000 16.5" style="fill:none;stroke:#ff5b2e;stroke-width:3px"></path>
                    </svg>
                </div>
                <span class="responses__story">{{ response.response }}</span>
                <span class="responses__date">{{response.publish_date|date:"F j, Y"}}</span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination mx-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    {% if responses_list.has_previous %}
                    <a class="page-link"
                       href="?page={{ responses_list.previous_page_number }}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% endif %}
                </li>
                {% for page in responses_list.paginator.page_range %}
                <li class="page-item {% if page == responses_list.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                <li class="page-item">
                    {% if responses_list.has_next %}
                    <a class="page-link"
                       href="?page={{ responses_list.next_page_number }}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>

    <div class="contacts-help-section__form-container ">
        <div class="contacts-help-section__wrapper">
            <form class="contacts-form" action="#" method="post">
                <div class="responses__form-title">
                    <h1>Write your response</h1>
                </div>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="contacts-form__field">
                    <div class="contacts-form__field">
                        {{ form.name }}
                    </div>
                    <div class="error-message__name">{{ form.name.errors }}</div>
                </div>
                <div class="contacts-form__field">
                    <div class="contacts-form__field">
                        {{ form.response }}
                    </div>
                    <div class="error-message__pets-info">{{ form.response.errors }}</div>
                </div>
                <div class="contacts-form__field">
                    <button class="contacts-form__button" type="submit">Request a quote</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}