{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Care Service</title>
    <link rel="shortcut icon" href="img/icon-website.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'vet_clinic/css/index.css' %}">
    <script type="module" src="{% static 'vet_clinic/js/index.js' %}"></script>
</head>
<body>
<div class="container-background">
    {% block mainmenu %}
    <header class="header">
        <div class="header__wrapper">
            <div class="header__content">
                <div class="header__top">
                    <a href="{% url 'vet_clinic:home' %}" class="header__top-logo-link">
                        <img class="header__top-logo" src="{% static 'vet_clinic/img/top-bar-logo.svg' %}"
                             alt="Logo Best Pet - safe and caring hands">
                    </a>
                    <nav class="nav">
                        <ul class="header__nav-list nav__list">
                            {% for m in mainmenu %}
                            <li class="nav__item"><a class="nav__link" href="{% url m.url_name %}">{{m.title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__top-icons">
                        <a href="#" class="header__menu-btn">
                            <span class="header__navicon"></span>
                        </a>
                        <a href="https://www.facebook.com/" class="header__top-icons-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_facebook.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.instagram.com/" class="header__top-icons-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_instagram.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.twitter.com/" class="header__top-icons-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_twitter.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.youtube.com/" class="header__top-icons-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_youtube.svg' %}"
                                 alt="Footer Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock mainmenu %}
    {% block content %}
    {% endblock %}

    {% block footer %}
    <div class="footer">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="menu-item">
                    <img class="footer__logo-image" src="{% static 'vet_clinic/img/logofooter.svg' %}"
                         alt="Footer Logo">
                    <p class="footer-text">We care about every pet of our clients and provide all kinds of pet care
                        services in New York.</p>
                    <div class="footer__social-icons">
                        <a href="https://www.facebook.com/" class="footer__social-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_facebook.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.instagram.com/" class="footer__social-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_instagram.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.twitter.com/" class="footer__social-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_twitter.svg' %}"
                                 alt="Footer Logo">
                        </a>
                        <a href="https://www.youtube.com/" class="footer__social-link">
                            <img class="footer__social-image" src="{% static 'vet_clinic/img/social_youtube.svg' %}"
                                 alt="Footer Logo">
                        </a>
                    </div>
                </li>
                <li class="menu-item">
                    <h3 class="menu-item-title">Navigation</h3>
                    <div class="menu-item-link-countainer">
                        {% for f in footer_nav %}
                        <a class="menu-item-link" href="{% url f.url_name %}">{{f.title}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="menu-item">
                    <h3 class="menu-item-title">Qiuck Links</h3>
                    <div class="menu-item-link-countainer">
                        {% for f in footer_links %}
                        <a class="menu-item-link" href="{% url f.url_name %}">{{f.title}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="menu-item">
                    <h3 class="menu-item-title">Support</h3>
                    <div class="menu-item-link-countainer">
                        {% for f in footer_support %}
                        <a class="menu-item-link" href="{% url f.url_name %}">{{f.title}}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="menu-item">
                    <h3 class="menu-item-title">Subscribe</h3>
                    <div class="menu-item-link-countainer">
                        <form action="#" class="footer-form">
                            <label for="leave-your-email:" class="footer-label-text">
                                Leave your email:
                            </label>
                            <input type="email" placeholder="Email*" name="leave-your-email" id="leave-your-email"
                                   class="footer-input-form">
                            <button class="footer-form__button" type="submit">Subscribe</button>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    {% endblock footer %}
</div>
</body>
</html>
