{% extends "base.html" %}

{% block content %}
<div class="vet-consultations__title container">
    <h1>Orders</h1>
</div>


<ul class="nav nav-tabs container mb-5 fs-5">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'schedule:show_orders' %}">All</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Services</a>
        <ul class="dropdown-menu">
            {% for service in services_list %}
            <li>
                <a class="dropdown-item" href="{% url 'schedule:show_filter_orders' service.slug %}">{{ service.title }}</a>
            </li>
            {% endfor %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">#</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule:draft_orders' %}">Draft</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule:completed_orders' %}">Completed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule:confirmed_orders' %}">Confirmed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule:delayed_orders' %}">Postponed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>


{% for order in orders %}
<div class="card {% if order.status == 'CMP' %}border-danger{% elif order.status == 'CNF' %}border-success{% elif order.status == 'DLY' %}border-warning{% else %}border-primary{% endif %} border-3 container mb-3">
    <div class="card-body my-2">
        <h3 class="card-title">service: <a href="{{ order.get_absolute_url }}">{{ order.service }}</a></h3>
        <p class="card-text">nickname: {{ order.name }}</p>
        <p class="card-text">First and last name: {{ order.name.first_name }} {{ order.name.last_name }}</p>
        <p class="card-text">Phone Number: {{ order.phone_number }}</p>
        <p class="card-text">About Pet: {{ order.pet_info }}</p>
        <p class="card-text">Order date: {{ order.order_date }}</p>
        <p class="card-text">Client date for visiting: {{ order.date_for_visit }}</p>
        <a href="{% url 'schedule:order_edit' order.id %}" class="btn btn-primary">Details</a>
    </div>
</div>
{% endfor %}

{% endblock %}