{% with user=action.user profile=action.user.profile %}
<div class="card">
    <div class="card-body" style="color: var(--title-text-color); background-color: var(--button-background-light-color)">
        <p>
            <span class="date" style="color: var(--paragraph-text-color);">{{ action.created|timesince }} ago</span>
            <br/>
            <a href="{{ user.get_absolute_url }}">
                {{ user.first_name }}
            </a>
            {{ action.verb }}
            {% if action.target %}
            {% with target=action.target %}
            <a href="{{ target.get_absolute_url }}" style="text-decoration: none;
    border-bottom: 1px solid var(--link-text-color);
    color: var(--link-text-color);">{{ target }}</a>
            {% endwith %}
            {% endif %}
        </p>
    </div>
</div>
{% endwith %}