{% extends "base.html" %}

{% block content %}
<div class="vet-consultations__title container">
    <h1>Reset your password</h1>
</div>
<div class="contacts-help-section__form-container ">
    <div class="contacts-help-section__wrapper">
        <div class="responses__form-title">
            <h3>We've emailed you instructions for setting your password.</h3>
            <p>If you don't receive an email, please make sure
                you've entered the address you registered with.</p>
        </div>
    </div>
</div>
{% endblock %}