{% extends "base.html" %}

{% block content %}
<div class="vet-consultations__title container">
    <h1>{{ user_to_view.username }}'s Profile</h1>
</div>


<div class="d-flex flex-row bd-highlight mb-3 container">
    <div class="card" style="width: 18rem;">
        {% if user_to_view.profile.photo %}
        <img src="{{ user_to_view.profile.photo.url }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ user_to_view.username }}</h5>
            <p class="card-text">{{ user_to_view.first_name }} {{ user_to_view.last_name }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% if request.user.username == user_to_view.username %}
    <ul class="list-group mx-3 container">
        <li class="list-group-item">
            {% if perms.pet_care_scheduler.view_schedule %}
            <a href="{% url 'schedule:show_orders' %}">Orders</a>
            {% endif %}
        </li>
        <li class="list-group-item">
            <a href="{% url 'schedule:show_user_orders' user_username=request.user.username %}">My Orders</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'accounts:password_change' %}">Change password</a>
        </li>
    </ul>
    {% endif %}
</div>
<div class="container mx-auto">
        <h2>What's happening</h2>
        <div id="action-list">
            {% for action in actions %}
            {% include "actions/detail.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}