{% load static %}
<section class="happy-pets container">
    <div class="happy-pets_item">
        <div class="happy-pets_item-text">
            <h2>Why You Need Our Help</h2>
            <h3>You may be out for a while or too busy to give your pet the care it deserves, and our services will come in handy:</h3>
            <ul class="happy-pets_item-text-list">
                <li>You will be sure your pet is eating the right food;</li>
                <li>Our staff will make sure your pet is healthy;</li>
                <li>We take your dogs for a walk on schedule;</li>
                <li>No need to ask your friends to stay with your pet;</li>
                <li>We'll give your pets a bath and groom them on time.</li>
            </ul>
            <p class="happy-pets_item-text-italic"><span>*</span> We can provide <span>one-time or regular</span> care for your pet.</p>
        </div>
        <div class="happy-pets_item-img">
            <img src="{% static 'vet_clinic/img/blue-rabbit.png' %}" alt="blue rabbit">
        </div>
    </div>
</section>