{% load static %}
<section class="happy-pets container">
    <div class="happy-pets_item">
        <div class="happy-pets_item-img">
            <img src="{% static 'vet_clinic/img/pink-dog.png' %}" alt="pink dog">
        </div>
        <div class="happy-pets_item-text">
            <h2>We Make Your Pets Happy and Healthy</h2>
            <h3>We are a small firm with 15 dedicated employees that provide all kinds of pet care services in New York.</h3>
            <p class="happy-pets_item-text-normal">We know how much you adore your pet and care about it with all our attention and love for animals.</p>
            <p class="happy-pets_item-text-normal">Our dedicated team of vets, groomers, pet sitters and other specialists will provide all kinds of services and look after your pet.
               We find an approach to every animal. You can rest assured that your fluffy family member will stay healthy and happy.</p>
            <a class="happy-pets_item-text-button" href="about_us.html">More About Us</a>
        </div>
    </div>
</section>